.navbar
{
  border-radius:0px;
}
.navbar-right
{
  margin-right:0px;
}
.navbar-default
{
  background-color:rgb(209,209,209);
}
.navbar-brand
{
  font-weight:900;
  font-size:22px;
  font-family:"Times New Roman";
}
.navbar-nav li
{
  font-weight:700;
  font-size:13px;
  font-family:"Times New Roman";
}
.navbar-right .dropdown-menu
{
  left:0;
  background-color:rgb(236,236,236);
}
  body
  {
    background-image:url("/picture/gamecalculator/login_back3.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
  }
  #t1
  {
    width:500px;
    height:400px;
    margin:auto;
    margin-top:60px;
    border-collapse:collapse;
    display:none;
    opacity:0.7;
  }
  #t1 table
  {
    margin-top:30px;
    width:500px;
    height:400px;
  }
  #t3
  {
    width:550px;
    height:50px;
    margin:auto;
    margin-top:50px;
    display:none;
  }
  input
  {
    color:yellow;
  }
  #t1 td
  {
    cursor:pointer;
  }
  #t4
  {
    width:450px;
    height:150px;
    margin:auto;
    margin-top:50px;
    display:none;
    position:relative;
  }
  #t2
  {
    width:550px;
    height:165px;
    margin:auto;
    margin-top:50px;
    position:relative;
    display:none;
  }
  #t2 .btn
  {
    width:89px;
    height:34px;
    display:block;
    position:absolute;
    bottom:0px;
    left:40%;
  }
  h1
  {
    margin-top:50px;
    text-align:center;
    display:none;
    font-size:20px;
    font-family:sans-serif;
    font-weight:900;
  }
  #t4 button
  {
    position:absolute;
    left:30%;
    bottom:0px;
  }
  p
  {
    text-align:center;
    font-size:17px;
    font-family:sans-serif;
    font-weight:700;
  }
  table tr td span
  {
    font-size:14px;
    font-family:sans-serif;
    font-weight:500;
  }
  #t2 p
  {
    margin-bottom:30px;
  }
  #t4 p
  {
    margin-bottom:20px;
  }
