body
	{
		height:795px;
		background-image:url("/picture/chatzone/login_back3.png");
		background-repeat:no-repeat;
		background-size:100% 100%;
		position:relative;
	}
	.navbar
	{
	  border-radius:0px;
	}
	.navbar-right
	{
	  margin-right:0px;
	}
	.navbar-default
	{
	  background-color:rgb(209,209,209);
	}
	.navbar-brand
	{
	  font-weight:900;
	  font-size:22px;
	  font-family:"Times New Roman";
	}
	.navbar-nav li
	{
	  font-weight:700;
	  font-size:13px;
	  font-family:"Times New Roman";
	}
	.navbar-right .dropdown-menu
	{
	  left:0;
	  background-color:rgb(236,236,236);
	}
	#message_board .panel-heading h3
	{
		font-size:18px;
		font-weight:800;
		text-align:center;
	}
	#message_board .panel-body
	{
		padding:0;
		margin:0;
	}
	#message_board .panel-body
	{
		height:450px;
		overflow-x:auto;
		overflow-y:auto;
		opacity:0.8;
	}
	#message_board.table
	{
			border:0px;
	}
	#message_board .panel-body table tbody tr td
	{
		border-right:0px;
		border-left:0px;
		word-break:break-all;
	}
	.message_name
	{
		float:left;
		font-size:14px;
		font-weight:600;
		font-family:cursive;
	}
	.message_name span
	{
		font-size:11px;
	}
	.message_time
	{
		float:right;
		font-size:11px;
		font-weight:600;
		font-family:sans-serif;
	}
	.message_content
	{

		clear:both;
		margin-top:25px;
		text-indent:10px;
		font-size:11px;
		font-family:sans-serif;
	}
	.message_submit
	{
		font-size:14px;
		font-weight:600;
		font-family:sans-serif;
	}

	#live_chat .panel
	{
		opacity:0.8;
	}
	#live_chat .panel-body
	{
		height:300px;
		overflow-x:auto;
		overflow-y:auto;
	}
	#live_chat h3
	{
		font-size:18px;
		font-weight:800;
		text-align: center;
	}
	#state
	{
		float:right;
	}

	#live_chat_tip button
	{
		opacity:0.7;
		font-size:14px;
		font-weight:600;
		font-family:sans-serif;
		position:absolute;
		left:30%;
		bottom:2.5px;
		margin-top:30px;
	}
	#live_chat_tip .content
	{
		text-indent:10px;
		font-size:13px;
		font-weight:600;
		font-family:sans-serif;
		margin-bottom:20px;
	}
	#live_chat_tip .content-tip
	{
		font-size:16px;
		font-weight:600;
		font-family:sans-serif;
		margin-bottom:20px;
	}
	#live_chat_tip .title
	{
		font-size:20px;
		font-weight:600;
		font-family:sans-serif;
		margin-bottom:20px;
	}
	#live_chat_tip .panel-footer
	{
		height:40px;
		position:relative;
	}
	#live_chat .live_time
	{
		font-size:10px;
	}
	#live_chat table tr
	{
		margin-bottom:20px;
	}

	#live_chat table tr td
	{
		word-break:break-all;
	}
	#log_out a
	{
			cursor:pointer;
	}
	#my_navbar .dropdown .dropdown-menu a
	{
		cursor:pointer;
	}

	#my_navbar ul li:nth-child(2) a
	{
		cursor:pointer;
	}
	@media screen and (min-width:1002px)
	{
		#live_chat_tip
		{
			width:300px;
			height:400px;
			position:absolute;
			left:60%;
			top:25%;
			opacity: 0.8;
			display:none;
		}
		#live_chat
		{
			width:300px;
			height:400px;
			position:absolute;
			left:60%;
			top:25%;
			display:none;
		}
		#message_board
		{
			height:600px;
			width:500px;
			position:absolute;
			top:15%;
			left:10%;
			opacity:0.8;
			display:none;
		}
	}
	@media screen and (max-width:1002px)
	{
		#live_chat_tip
		{
			width:300px;
			height:400px;
			position:absolute;
			left:600.95px;
			top:198.75px;
			opacity: 0.8;
			display:none;
		}
		#live_chat
		{
			width:300px;
			height:400px;
			position:absolute;
			left:600.95px;
			top:198.75px;
			display:none;
		}
		#message_board
		{
			height:600px;
			width:500px;
			position:absolute;
			top:119.25px;
			left:100.15px;
			opacity:0.8;
			display:none;
		}
  }
