body
{
	background-image:url("/picture/aircraftbattle/login_back3.png");
	background-repeat:no-repeat;
	background-size:100% 100%;
	position:relative;
	cursor:default;
}
.navbar
{
  border-radius:0px;
}
.navbar-right
{
  margin-right:0px;
}
.navbar-default
{
  background-color:rgb(209,209,209);
}
.navbar-brand
{
  font-weight:900;
  font-size:22px;
  font-family:"Times New Roman";
}
.navbar-nav li
{
  font-weight:700;
  font-size:13px;
  font-family:"Times New Roman";
}
.navbar-right .dropdown-menu
{
  left:0;
  background-color:rgb(236,236,236);
}
#c2 .panel
{
	width:700px;
	margin:auto;
	margin-top:50px;
	font-family:sans-serif;
	opacity:0.7;
}
#c2 .panel-footer
{
	height:50px;
	position:relative;
}
button
{
	position:absolute;
	left:42%;
	bottom:6px;
}
#c2 .panel-body
{
	margin:0px;
	padding:0px;
	cursor:url("/static/aircraftbattle/pll.cur"),auto;
	position:relative;
}
#c2 #back
{
	height:650px;
	background:rgb(194,200,201);
	position:relative;
	overflow:hidden;
}
h3
{
	text-align:center;
}
#c2 .panel-heading
{
	position:relative;
}
#c2 .panel-heading #hp1
{
	height:40px;
	position:absolute;
	bottom:0px;
}
#c2 .panel-heading #hp2
{
	height:40px;
	position:absolute;
	right:15px;
	bottom:-2px;
}
#myplane
{
	position:absolute;
	left:301px;
	bottom:0px;
}
#allen
{
	height:40px;
	width:40px;
	position:absolute;
	bottom:5px;
	left:5px;
	opacity:0.6;
}
#allen2
{
	height:40px;
	width:40px;
	position:absolute;
	bottom:5px;
	right:5px;
	opacity:0.6;
}
.b
{
	width:6px;
	height:14px;
	position:absolute;
}
.c
{
	position:absolute;
}
#c1
{
	background:rgb(194,200,201);
	width:100px;
	margin:0px;
	position:absolute;
	top:40%;
	left:45%;
	opacity:1;
	font-family:sans-serif;
	display:none;
}
#getscore
{
	line-height:30px;
	position:absolute;
	left:20%;
}
#getplane
{
	line-height:30px;
	position:absolute;
	left:58%;
	font-size:9px;
}
