body
{
    background-image:url("/picture/snake/login_back3.png");
    background-repeat: no-repeat;
    background-size:1519px 100%;
}
.navbar
{
  border-radius:0px;
}
.navbar-right
{
  margin-right:0px;
}
.navbar-default
{
  background-color:rgb(209,209,209);
}
.navbar-brand
{
  font-weight:900;
  font-size:22px;
  font-family:"Times New Roman";
}
.navbar-nav li
{
  font-weight:700;
  font-size:13px;
  font-family:"Times New Roman";
}
.navbar-right .dropdown-menu
{
  left:0;
  background-color:rgb(236,236,236);
}
  .container
  {
    width:761px;
    height:526px;
    margin:auto;
    margin-top:5px;
  }
  .panel
  {
    opacity:0.8;
    width:761px;
    height:526px;
  }
  .panel-heading
  {
    height:70px;
  }
  .panel-body
  {
    position:relative;
    padding:0px;
  }
  p
  {
    font-size:20px;
    color:red;
    position:absolute;
    left:20%;
    top:40%;
  }
.snake_pic
{
  width:50px;
  height:50px;
  border-radius:30px;
  margin:0px;
}
.table
{
  margin-bottom:0px
}
td
{
  border-radius:300px;
}
.panel-heading span
{
  text-align:center;
  font-size:20px;
  display:block;
  line-height:50px;
  font-family:sans-serif;
  font-weight:700;
}
