	.navbar
	{
		border-radius:0px;
	}
	.navbar-right
	{
		margin-right:0px;
	}
	.navbar-default
	{
		background-color:rgb(209,209,209);
	}
	.navbar-brand
	{
		font-weight:900;
		font-size:22px;
		font-family:"Times New Roman";
	}
	.navbar-nav li
	{
		font-weight:700;
		font-size:13px;
		font-family:"Times New Roman";
	}
	.navbar-right .dropdown-menu
	{
		left:0;
		background-color:rgb(236,236,236);
	}
	#mymodal .modal-body
	{
		height:190px;
		position:relative;
	}
	#mymodal .modal-content
	{
		background-image:url("/picture/login/login_back3.png");
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
	#Signin
	{
		width:120px;
		height:30px;
		background:orange;
		border-radius:5px;
		opacity:0.6;
		color:white;
		font-size:15px;
		font-weight:500;
		line-height:30px;
		text-align:center;
		position:absolute;
		left:35%;
		bottom:2%;
		cursor:pointer;
	}
	#submit
	{
		width:120px;
		height:30px;
		background:green;
		border-radius:5px;
		opacity:0.6;
		color:white;
		font-size:15px;
		font-weight:500;
		line-height:30px;
		text-align:center;
		position:absolute;
		left:40%;
		bottom:5px;
		cursor:pointer;
	}
	body
	{
		height:795px;
		background-image:url("/picture/login/login_back3.png");
		background-repeat:no-repeat;
		background-size:100% 100%;
		position:relative;
	}
	.navbar-default
	{
		background-color:rgb(240,240,240);
		opacity: 0.7;
	}
	#intro_web
	{
		height:400px;
		width:400px;
		position:absolute;
		top:120px;
		right:55%;

	}
	#signin_area
	{
		height:450px;
		width:400px;
		position:absolute;
		top:120px;
		left:50%;
	}
	#intro_web h1
	{
		text-align:center;
		font-size:35px;
		font-weight:900;
		font-family:cursive;
		padding-bottom:50px;
	}
	#intro_web h2
	{
		font-size:28px;
		font-weight:900;
		font-family:cursive;
		padding-bottom:15px;
		text-indent:10px;
	}
	#intro_web h3
	{
		font-size:15px;
		font-weight:900;
		font-family:cursive;
		padding-bottom:10px;
		text-indent:20px;
	}
	#intro_web_1
	{
		display:none;
		opacity:0.7;
	}
	#intro_web_2
	{
		display:none;
		opacity:0.7;
	}
	#intro_web_3
	{
		display:none;
		opacity:0.7;
	}
	.panel
	{
		opacity:0.9;
		display:none;
	}
	.panel-body
	{
		height:390px;
		position:relative;
	}
	#sign_login
	{
		width:120px;
		height:30px;
		background:green;
		border-radius:5px;
		opacity:0.6;
		color:white;
		font-size:15px;
		font-weight:500;
		line-height:30px;
		text-align:center;
		cursor:pointer;
		position:absolute;
		left:20%;
		bottom:80px;
	}
	.sign_up_success
	{
		height:200px;
		position:absolute;
		top:40%;
		left:25%;
		opacity:0.8;
		display:none;
	}
	.sign_up_success h2
	{
		font-size:20px;
		font-weight:800;
		text-align:center;
		padding-bottom:20px;
	}
	#intro_web_2 p
	{
		font-size:13px;
		font-weight:900;
		font-family:cursive;
		padding-bottom:10px;
		text-indent:40px;
	}
