.navbar
{
  border-radius:0px;
}
.navbar-right
{
  margin-right:0px;
}
.navbar-default
{
  background-color:rgb(209,209,209);
}
.navbar-brand
{
  font-weight:900;
  font-size:22px;
  font-family:"Times New Roman";
}
.navbar-nav li
{
  font-weight:700;
  font-size:13px;
  font-family:"Times New Roman";
}
.navbar-right .dropdown-menu
{
  left:0;
  background-color:rgb(236,236,236);
}
#lunbo_container
{
  margin:0 auto;
  width:801px;
  height:220px;
  overflow:hidden;
}
#lunbo_container ul li img
{
  width:300px;
  height:220px;
  cursor:pointer;
  border-radius:5px;
  opacity:0.6;
}
#lunbo_container ul li
{
  width:125px;
  height:220px;
  list-style: none;
  float:left;
  overflow:hidden;
  position:relative;
}
#lunbo_container ul .pic_1
{
  width:300px;
}
#lunbo_container ul .pic_1 img
{
  opacity:1;
}
#lunbo_container ul .lunbo_caption
{
  width:300px;
  height:30px;
  position:absolute;
  left:0px;
  bottom:0px;
  background:black;
  opacity:0.7;
  font-size:18px;
  text-indent:30px;
  line-height:30px;
  color:white;
  display:none;
}
#lunbo_container ul .pic_1 .lunbo_caption
{
  display:block;
}
#select_plane
{
  opacity:0.8;
  position:absolute;
  left:40%;
  top:45%;
  display:none;
}
#select_snake
{
  opacity:0.8;
  position:absolute;
  left:40%;
  top:45%;
  display:none;
}
#select_calculator
{
  opacity:0.8;
  position:absolute;
  left:40%;
  top:45%;
  display:none;
}
#select_chat
{
  opacity:0.8;
  position:absolute;
  left:40%;
  top:45%;
  display:none;
}
		#nav
		{
			height:52px;
		}
		#lunbo_item
		{
			height:300px;
			background-image:url("/picture/homepage/back_image1.png");
			background-repeat:no-repeat;
			background-size:100% 100%;
			padding-top:15px;
			position:relative;
		}
		#intro_myself
		{
			height:505px;
			position:relative;
			background-image:url("/picture/homepage/back4.png");
			background-repeat:no-repeat;
			background-size:100% 100%;
		}
    @media screen and (min-width:740px)
    {
      #graduated_day
  		{
  			width:35%;
  			height:160px;
  			position:absolute;
  			top:12%;
  			left:24%;
  			opacity:0.6;

  		}
  		#wedding_day
  		{
  			width:35%;
  			height:160px;
  			position:absolute;
  			top:12%;
  			left:60%;
  			opacity:0.6;

  		}
  		#my_hobby
  		{
  			width:35%;
  			height:160px;
  			position:absolute;
  			top:53%;
  			left:24%;
  			opacity:0.6;
  		}
  		#vancouver_life
  		{
  			width:35%;
  			height:160px;
  			position:absolute;
  			top:53%;
  			left:60%;
  			opacity:0.6;
  		}
    }
    @media screen and (max-width:740px)
    {
      #graduated_day
      {
        width:35%;
        height:160px;
        position:absolute;
        top:12%;
        left:170px;
        opacity:0.6;

      }
      #wedding_day
      {
        width:35%;
        height:160px;
        position:absolute;
        top:12%;
        left:430px;
        opacity:0.6;

      }
      #my_hobby
      {
        width:35%;
        height:160px;
        position:absolute;
        top:53%;
        left:170px;
        opacity:0.6;
      }
      #vancouver_life
      {
        width:35%;
        height:160px;
        position:absolute;
        top:53%;
        left:430px;
        opacity:0.6;
      }
    }
		#graduated_day img
		{
			position:absolute;
			cursor:pointer;
			border-radius:30px;
		}
		#wedding_day img
		{
			position:absolute;
			cursor:pointer;
			border-radius:30px;
		}
		#my_hobby img
		{
			position:absolute;
			cursor:pointer;
			border-radius:30px;
		}
		#vancouver_life img
		{
			position:absolute;
			cursor:pointer;
			border-radius:30px;
		}
		.caption
		{
			background:black;
			width:227px;
			height:35px;
			position:absolute;
			bottom:4%;
			opacity:0.3;
			display:none;
			border-radius:30px;
		}
		.title
		{
			width:227px;
			height:35px;
			position:absolute;
			bottom:4%;
			color:white;
			padding:10px;
			font-size:15px;
			font-weight:700;
			opacity:0.9;
			display:none;
			border-radius:30px;
		}

		#pic_collection .modal-body .all_pic
		{
			display:inline;
			position:relative;
		}
		#pic_collection .modal-body .all_pic img
		{
			margin-left:35px;
			margin-top:20px;
		}
		#pic_collection .modal-body .all_pic .subtitle
		{
			width:227px;
			height:25px;
			opacity:0.5;
			background:black;
			color:white;
			font-size:20px;
			position:absolute;
			left:13.5%;
			top:160%;
			display:none;
		}
		#pic_collection .modal-header h3
		{
			font-size:20px;
			font-weight:800;
		}
		#pic_collection	.modal-content
		{
			background-image:url("/picture/homepage/back4.png");
			background-repeat:no-repeat;
			background-size:100% 100%;
		}
